.box-profile{
    position: absolute;
    width: 742px;
    height: 407px;
    left: 332px;
    top: 131px;
    
    background: var(--color-primary);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.box-agenda{
    position: absolute;
    width: 742px;
    height: 486px;
    left: 332px;
    top: 567px;
    margin-block-end: 30rem;

    background: var(--color-primary);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.grid-kiri img{
    margin-block-start: 30px;
    width: 110px;
    height: 110px;
    margin-inline-start: 90px;
}
.social-media{
    text-align: center;
    left: 566px;
    
}

.social-media a{
    letter-spacing: 10px;
}
.grid-kiri{
    align-items: center;
    text-align: center;
}

.grid-kanan{
    display: grid;
    grid-template-columns: 50% 50%;
}
.content-grid{
    display: grid;
    grid-template-columns: 40% 60%;
}
.grid-kanan ul{
    color: var(--color-black);
    font-size: 12px;
    font-weight: 400;
    margin-top: 40px;

}

.grid-kiri li{
    color: var(--color-secondary);
    font-size: 10px;
    font-weight: 400;
}
.box-p-surat{
position: absolute;
width: 323px;
height: 342px;
left: 1106px;
top: 131px;

background: var(--color-primary);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 15px;
}

.box-presensi{

position: absolute;
width: 323px;
height: 509px;
left: 1106px;
top: 497px;

background: var(--color-primary);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 15px;
}

