.box-pengajuan{
position: absolute;
width: 699px;
height: 754px;
left: 332px;
top: 160px;

background: #FFFFFF;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 25px;
}

.box-pengajuan h2{
    font-weight: 700;
    font-size: 17px;
    color: var(--color-black);
}

.form-input{
    margin-block-start: 30px;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}

.form-input label{
    margin-right: 100px;
    font-weight: 600;
    font-size: 17px;
    color: var(--color-black);
}



.form-input input {
    justify-content: end;
    display: absolute;
    box-sizing: border-box;
    border: 1px solid #8F969C;
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

.form-input textarea{
    display: absolute;
    box-sizing: border-box;
    border: 1px solid #8F969C;
    border-radius: 5px;
    width: 400px;
    height: 100px;
}


.box-daftar-surat{
    position: absolute;
    width: 322px;
    height: 754px;
    left: 1060px;
    top: 160px;

    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;

}

.button-custom {
    margin-top: 100px;
    margin-left: 30px;
    color: var(--color-white);
    font-weight: 700;
    width: 100px;
    height: 35px;
    position: relative;
    
background: linear-gradient(264.25deg, #0050C8 51.8%, #1E78FF 115.07%);
border-radius: 10px;
  }
  .card-d-surat{
    display: grid;
    grid-template-columns: 5% 95%;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 20px;
    width: 290px;
    height: 90px;
    background: rgba(0, 80, 200, 0.05);
    border-radius: 5px;
    color: var(--color-black);
}

.card-d-surat img{
    margin-top: 3px;
    width: 25px;
    height: 25px;
}

.card-d-surat h3{
    margin-left: 20px;
    font-size: 15px;
}
.card-d-surat p{
    margin-left: 20px;
    font-size: 12px;
}

.card-d-surat input{
    color: var(--color-white);
    font-weight: 500;
    font-size: 10px;
    width: 50px;
    height: 20px;
    left: 50px;
    top: 650px;
    background: linear-gradient(264.25deg, #0050C8 51.8%, #1E78FF 115.07%);
    border-radius: 5px;   
}

.inputan{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



