.box-p-surat{
    position: absolute;
width: 1200px;
height: 1009px;
left: 332px;
    top: 131px;

background: #a39c9c;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 25px;
}

.box-form{
position: absolute;
width: 699px;
height: 754px;
left: 425px;
top: 186px;

background: #FFFFFF;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 25px;
}

.daftar-surat{
    position: absolute;
    width: 322px;
    height: 754px;
    left: 1148px;
    top: 186px;
    
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

h69{
    position: absolute;
width: 219px;
height: 0px;
left: 425px;
top: 146px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;

color: #000000;
}

.text-field1{
    box-sizing: border-box;

position: absolute;
width: 384px;
height: 40px;
left: 683px;
top: 289px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.text-field2{
    box-sizing: border-box;

position:  absolute;
width: 384px;
height: 40px;
left: 683px;
top: 354px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.text-field3{
    box-sizing: border-box;

position:  absolute;
width: 384px;
height: 147px;
left: 683px;
top: 419px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.button3 {
    position: absolute;
    width: 122px;
    height: 40px;
    left: 683px;
    top: 591px;
    
    background: #0050C8;
    border-radius: 5px;
}
h13{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 0px;
align-items: center;

color: #FFFFFF;
}

h420{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 0px;
/* identical to box height, or 0% */

color: #000000;
}

.alert-box{
    
position: absolute;
width: 384px;
height: 57px;
left: 683px;
top: 696px;

background: rgba(241, 218, 8, 0.17);
border-radius: 5px;
}

h499{
font-family: 'Montserrat';
font-style: normal;
font-weight: 100;
font-size: 13px;
line-height: 21px;
}

.button4 {
    box-sizing: border-box;

    position: absolute;
    width: 156px;
    height: 47px;
    left: 780px;
    top: 855px;
    
    background: #0050C8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.button5 {
    box-sizing: border-box;

    position: absolute;
    width: 119px;
    height: 47px;
    left: 947px;
    top: 855px;
    
    background: #0050C8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}