.box-presensi {
    position: absolute;
    width: 1080px;
    height: auto;
    left: 332px;
    top: 100px;
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding-bottom: 30px;
}
.box-presensi-2 {
    position: absolute;
    width: 1080px;
    height: auto;
    left: 332px;
    top: 535px;
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding-bottom: 30px;
}

/*----------------------FORM PRESENSI--------------------*/
.form-table label {
    color: black;
    font-size: 13px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    margin-left: 50px;
}

.tanggal-waktu {
    margin-bottom: 25px;
}

.tanggal-waktu input {
    padding: 10px 40px;
    padding-left: 10px;
    height: 42px;
    width: 362px;
    margin-top: 30px;
    font-size: 12px;
    font-weight: normal;
    color: black;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.status label input {
    font-size: 12px;
    font-weight: normal;
    color: black;
    text-align: left;
    padding-left: 30px;
}
.deskripsi input {
    padding-left: 10px;
    width: 860px;
    height: 42px;
    margin-top: 30px;
    font-size: 12px;
    font-weight: normal;
    color: black;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.form-table thead tr th {
    background: transparent;
    padding: 10px;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    font-size: 13px;
    text-align: left;
    border-bottom: 0.5px solid black;
}
.form-table h1 {
    position: absolute;
    margin-left: -18px;
    margin-top: 11px;
}
.form-table .prev-next {
    margin-left: 780px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-table .left,
.right {
    font-size: 13px;
    background-color: #0050c8;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.form-table .month {
    font-size: 13px;
    font-weight: normal;
    background-color: #0050c8;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    margin-right: 7px;
}

.submit {
    margin-left: 730px;
}
.submit input {
    width: 140px;
    height: 47px;
    font-weight: 700;
    background: linear-gradient(264.25deg, #0050c8 51.8%, #1e78ff 115.07%);
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-right: 15px;
    outline: none;
    font-weight: bold;
    font-family: "Montserrat";
}

/*----------------------TABEL DATA PRESENSI--------------------*/
.expandable-table thead tr th {
    background: transparent;
    padding: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    font-size: 13px;
    text-align: left;
    border-bottom: 0.5px solid black;
}

.expandable-table tr td p {
    padding: 14px;
    padding-left: 50px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
    color: black;
}

.expandable-table .Presence {
    background-color: #00b507;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.expandable-table .Absent {
    background-color: #dc0000;
    padding: 5px 22px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.expandable-table .Permit {
    background-color: #3f89f9;
    padding: 5px 23px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    color: white;
    text-align: center;
}
