.box-profile{
    position: absolute;
    width: 1044px;
    height: 757px;
    left: 332px;
    top: 131px;

    background: var(--color-primary);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}